@{
    ViewData["Title"] = "User Search";
}

<h2>User Search</h2>

<form id="searchUser">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
    <button type="button" onclick="searchUsers()">Search</button>
</form>

<div id="userDetailsContainer">

</div>

    <script>
    function searchUsers() {
            var username = $('#username').val();

            $.ajax({
                type: 'GET',
                url: '/GetUserByUserName',
                contentType: 'application/json',
                data: { username: username },
                success: function (response) {
                $('#userDetailsContainer').html(response);
            },
                error: function (error) {
                    console.log(error);
                }
            });
        }
    </script>
